.repository-detail {
  border-bottom: 1px solid rgb(88, 88, 88);
  cursor: pointer;
  text-align: left;
  padding: 5px;
  position: relative;
}

.new-icon {
  height: 40px;
  position: absolute;
  top: 0px;
  right: 0px;
}

.repository-detail span {
  font-size: 16px;
  font-weight: 600;
}

.last-release-date {
  font-size: 12px;
  color: #6b737d;
}
