.repository-menu {
  display: flex;
  border: 1px solid black;
  justify-content: center;
}

.repository-menu img {
  height: 24px;
  cursor: pointer;
}

.repository-menu button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.add-repository-popup {
  border: 1px solid black;
  text-align: center;
  padding: 20px;
}

.add-repository-popup button {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
  outline: none;
}
