.repository-menu {
  display: flex;
  border: 1px solid black;
  justify-content: center;
}

.repository-menu img {
  height: 24px;
  cursor: pointer;
  background-color: #56bfa0;
  border-radius: 50%;
  border-width: thin;
}

.repository-menu button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.add-repository-popup {
  border: 1px solid black;
  text-align: center;
  padding: 20px;
}

.add-repository-popup button {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
  outline: none;
}

.popup-content {
  margin: auto;
  background: rgb(255, 255, 255);
  width: 50%;
  padding: 5px;
}
.popup-arrow {
  color: rgb(255, 255, 255);
}
[role="tooltip"].popup-content {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
[data-popup="tooltip"].popup-overlay {
  background: transparent;
}
