.repository-menu {
  display: flex;
  justify-content: center;
  height: 60px;
  box-sizing: border-box;
  text-align: left;
}

.repository-menu button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  height: 20px;
  font-size: 10px;
  font-weight: 700;
  border-radius: 20px;
  color: white;
  background-color: #188db2;
  vertical-align: middle;
  margin-top: 20px;
  margin-left: 5px;
}

.repository-menu button:hover {
  cursor: pointer;
  transform: scale(1.03);
}

.add-repository-popup {
  border: 1px solid black;
  text-align: center;
  padding: 20px;
}

.add-repository-popup button {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
  outline: none;
}

.popup-content {
  margin: auto;
  background: rgb(255, 255, 255);
  width: 50%;
  padding: 5px;
}
.popup-arrow {
  color: rgb(255, 255, 255);
}
[role="tooltip"].popup-content {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
[data-popup="tooltip"].popup-overlay {
  background: transparent;
}
